{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div data-controller="hello">
   ...
</div>

<div class="example-wrapper">
    <h1>Bienvenue sur le portoflio de Frédéric LOUIS !</h1>
    <br />
    <h2>Etudiant en BTS Services informatiques aux organisations (SIO) spécialité SLAM</h2>
    <p>Originaire de la filière comptable, j'ai décidé de m'orienter vers des tâches informatiques, et surtout en tant que développeur sur les technologies web.</p>
    <p>Veuillez consulter mes projets et mon CV pour plus d'informations.</p>
    <br />
    <button type="button" class="btn btn-success">
        <a href="{{ path ('project.index')}}">Voir mes projets</a>
    </button>
    <button type="button" class="btn btn-success">
        <a href="{{ path ('cv.index')}}">Voir mon CV</a>
    </button>
    <br />
    <br />
    <p>Vous pouvez me contacter via les réseaux sociaux, par mail.</p>
    <br />
    <button type="button" class="btn btn-success">
        <a href="https://fr.linkedin.com/in/fr%C3%A9d%C3%A9ric-louis-b89870a4">LinkedIn</a>
    </button>
    <button type="button" class="btn btn-success">
        <a href="https://github.com/Fredodo77">GitHub</a>
    </button>
    <button type="button" class="btn btn-success">
        <a href="louis-frederic@hotmail.fr">Mail</a>
    </button>
    <br />
    <br />
    <p>Vous pouvez aussi me contacter via le formulaire de contact.</p>
    <br />
    <button type="button" class="btn btn-success">
        <a href="{{ path ('contact.new')}}">Formulaire de contact</a>
    </button>
    <br />
    <br />

    
</div>
{% endblock %}
