{% extends 'base.html.twig' %}
{% block title %}Hello TechnologiesController!{% endblock %}
{% block body %}
<h1>Créer une nouvelle technologie !</h1>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.project) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}
{% endblock %}